* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    
}

html {
    position: relative;
    min-height: 100%;
    background-color: #084857;
    font-family: 'Open Sans', sans-serif;

    /* GRADIENT BACKGROUND */
    background: #213e44; /* Old browsers */
    background: -moz-linear-gradient(top, #213e44 1%, #091114 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #213e44 1%,#091114 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #213e44 1%,#091114 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#213e44', endColorstr='#091114',GradientType=0 ); /* IE6-9 */
}

body {  
    margin: 0 0 100px;
    /* bottom = footer height */

}

p {
    font-size: 18px;
    color: white;
}

.main-nav {
    background-color: rgb(137, 195, 201);
    border-bottom: 1px solid rgba(0,0,0,.15);
    height: 50px;
}

.main-nav a {
    display: none;
    font-weight: bold;  
    color: black;
    padding: 13px;
    font-size: 14px;
    text-decoration: none;
    transition: color 0.3s ease;
    text-align: center;
}

.inline-nav-container {
    padding-top: 50px;
}

.main-nav a:hover {
    color: white;
    transition: color 0.3s ease;
}

.toggle-container {
    float: right;
    width: 60px;
    height: 100%;
    cursor: pointer;
}

.toggle-container span {
    display: block;
    height: 6px;
    width: 80%;
    margin-left: 7px;
    margin-top: 7px;
    background: #FFFFFF;
    border-radius: 9px;
    opacity: 1;
}

.description {
    height: 100%;
}

.description:after {
    content: "";
    display: block;
}

.description p {
    padding: 30px;
}

.description h2 {
    text-align: center;
    color: white;
    font-size: 23px;
    padding-bottom: 10px;
}

.description hr {
    width: 40%;
    text-align: center;
    margin: 0 auto;
    
}

header h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 40px;
    color: #E3E3E3;
    text-align: center;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow:hidden;
    background-color: rgb(1, 80, 88);
}

footer p {
    padding-top: 10px;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
}


@media only screen and (min-width: 480px) {
    .main-nav {
        border-bottom: 1px solid rgba(0,0,0,.15);
        height: 50px;
        overflow: hidden;
    }
    .main-nav a {
        display: block;
        color: black;
        padding: 13px;
        display: block;
        font-size: 14px;
        text-decoration: none;
        height: 100%;
        transition: color 0.3s ease;
    }
    .main-nav a:hover {
        color: white;
        transition: color 0.3s ease;
    }
    #left-nav {
        float: left;
    }

    #right-nav {
        float: right;
    }

    .toggle-container {
        display: none;
    }

    .inline-nav-container {
        padding-top: 0;
    }
}

@media only screen and (min-width: 1024px) {

}

