/* Color Palette
Background: #084857
Text: #111
Light Relative: 
Base Color: 
Dark Relative: 
*/

/* ------------------------------------- */
/* Basic Setup */
/* ------------------------------------- */


* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
    background-color: #084857;
    font-family: 'Roboto', sans-serif;

    /* GRADIENT BACKGROUND  http://colorzilla.com/gradient-editor/#213e44+1,091114+100 */
    background: #213e44; /* Old browsers */
    background: -moz-linear-gradient(top, #213D44 1%, #091114 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #213e44 1%,#091114 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #213e44 1%,#091114 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#213e44', endColorstr='#091114',GradientType=0 ); /* IE6-9 */
}

body {  
    margin: 0 0 100px;
    /* bottom = footer height */

}

p {
    font-size: 18px;
    color: white;
}

.main-nav {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 119, 131, 0.2);
    border-bottom: 1px solid rgba(0,0,0,.15);
    height: 50px;
    margin-bottom: 50px;
}

.main-nav a {
    opacity: 0;
    display: none;
    font-weight: bold;  
    color: rgb(255, 255, 255);
    padding: 13px;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    transition: color 0.3s ease;
}

.main-nav a:hover {
    color: rgb(0, 231, 255);
    transition: color 0.3s ease;
}

.inline-nav-container {
    padding-top: 50px;
}

.toggle-container {
    float: right;
    width: 60px;
    height: 45px;
    cursor: pointer;
}

.toggle-container span {
    display: block;
    height: 5px;
    width: 50%;
    margin-left: 15px;
    margin-top: 5px;
    background: #FFFFFF;
    border-radius: 9px;
    opacity: 1;
    box-shadow: 1px 1px 2px 2px #717171; 
}

.hamburger {
    padding-top: 5px;
}

.landing-page {
    height: 100%;
}

.landing-page:after {
    content: "";
    display: block;
}

.landing-page p {
    padding: 30px;
    font-size: 14px;
}

.landing-page h2 {
    text-align: center;
    color: white;
    font-size: 23px;
    padding-bottom: 10px;
}

.landing-page hr {
    width: 40%;
    text-align: center;
    margin: 0 auto;
}

.center-nav {
    display: none;
}

header h1 {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 40px;
    color: #E3E3E3;
    text-align: center;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow:hidden;
    background-color: rgba(0, 80, 89, 0.20);
}

footer p {
    padding-top: 25px;
    text-align: center;
    color: rgba(255, 255, 255, 0.81);
    font-weight: bold;
    font-size: 12px;
    text-shadow: 1px 1px 1px #626262; 
}

footer p a {
    padding-top: 25px;
    text-align: center;
    color: rgba(0, 231, 255, 0.63);
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer p a:hover {
    transition: color 0.3s ease;
    color: rgb(0, 231, 255);
}

.git-icon {
    padding-top: 10px;
    width: 30px;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.git-icon i {
    text-shadow: 1px 1px 1px #000000; 
    color: rgba(0, 231, 255, 0.63);
    font-size: 30px;
    transition: color 0.5s ease;
}

.git-icon i:hover {
    transition: color 0.3s ease;
    color: rgb(0, 231, 255);
}

header {
    padding-top: 50px;
}

/* ------------------------------------- */
/* Media Queries */
/* ------------------------------------- */

/*iPhone portrait*/
@media only screen and (min-width: 320px) {
    body {
        color: purple;
    }
}


/*iPhone landscape*/
@media only screen and (min-width: 480px) {
    body {
        color: green;
    }
}


/*ipad potrait*/
@media only screen and (min-width: 768px) {
    body {
        color: red;
    }
}

/*ipad lanscape / small laptop*/
@media only screen and (min-width: 1024px) {
    body {
        color: blue;
    }

    .main-nav {
        border-bottom: 1px solid rgba(0,0,0,.15);
        height: 50px;
        overflow: hidden;
    }

    .main-nav a {
        display: block;
        padding: 15px 5px;
        font-size: 14px;
        text-decoration: none;
        height: 100%;
        border-bottom: 3px solid transparent;
        -webkit-transition: color 0.3s, border 0.2s;
        transition: color 0.3s ease, border 0.2s;
    }

    .main-nav a:hover {
        border-bottom: 3px solid rgb(0, 231, 255);
        -webkit-transition: color 0.3s, border 0.2s;
        transition: color 0.3s ease, border 0.2s;
    }

    .inline-nav-container {
        padding-top: 0;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .inline-nav-container ul {
        list-style: none;
    }

    .inline-nav-container ul li {
        display: inline-block;
    }

    .inline-nav-container ul li a {
        display: inline-block;
    }

    .left-nav {
        display: inline-block;
        width: 32%;
        text-align: left;
    }

    .right-nav {
        display: inline-block;
        width: 32%;
        text-align: right;
    }

    .center-nav {
        display: inline-block;
        width: 32%;
        text-align: center;
    }

    .toggle-container {
        display: none;
    }

    .inline-nav-container a {
        opacity: 1;
    }

    .landing-page p {
        line-height: 1.4;
    }
}

